<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HomeMapper">
	<!-- 查询 首页展示视频 -->
	<select id="getHomeVedio" parameterType="Map" resultType="Map">
		select a.* from td_s_home_vedio a where a.status = '0'
	</select>
</mapper>
